<!DOCTYPE html>
<html oncontextmenu="return false">
<head>
<link rel="shortcut icon" href="static/favicon.ico">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="static/css/bootstrap.css" type="text/css"/>
<link rel="stylesheet" href="static/css/style.css" />
<script src="static/js/jquery-1.11.1.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/socketio.min.js"></script>
<script src="static/js/main.js"></script>
<title>Space Server</title>
</head>
<body oncontextmenu="return false">
<div id="mainpage">
<div class="container">
<div class="page-header">
<h1><img src="static/media/logo.png" ondragstart="return false;" 000draggable="false" alt="" height="200"/>Trevor's Space Server</h1>
</div><noscript>
<div style="display:initial" class="col-lg-12"><div class="alert alert-dismissable alert-danger">Javascript is not supported or is blocked. Please enable Javascript or upgrade your browser.</div></div>
</noscript>
<div id="connecting" ><!--class="fadein"-->
<div style="display:initial" class="col-lg-12"><div class="alert alert-dismissable alert-warning"><b>Connecting...</b> Please wait. If this message does not go away, contact your flight director.</div></div>
</div>
<div id="choosemission" style="display:none;">
<p>
<h2>Server Status: No Mission Selected</h2>
<p>Please select a mission to start playing.</p>
<select id="missionselect" class="form-control">
</select><br /><br /><buttton class="btn btn-warning" onclick="selectmission()">Start</button>
</div>
<div id="joinmission" style="display:none;">
<h2 id="missionname">Loading...</h2>
<h2>Server Status: Ready for Joining</h2>
<div id="joindiv">
<p>Please select a station to join.</p>
<select id="stationselect" class="form-control">
<option>Loading... Please Wait</option>
</select>
<br /><br />
<button class="btn btn-warning" onclick="selectstation()">Join</button>
</div>
</div>
</div>
</div>
<div id="stationpage" style="display:none;">
<div id="errordisconnect" style="display:none" class="container"><div class="col-lg-12"><div class="alert alert-dismissable alert-danger">ERROR: Lost connection to server! Contact your flight director immediately!</div></div></div>
<div id="briefing" style="display:initial;" class="container">
	
	<div id="missionstart" style="display:none" class="col-lg-12"><div class="alert alert-dismissable alert-info">The mission will start in 10 minutes. Get ready!</div></div>
	<div id="briefingcontent">
	<h1>Station Training</h1>
	<p>Welcome Random Guy. I'm not going to teach you how to use your station so have fun figuring it out.</p>
	</div>
</div>
<div id="controls" style="display:none;" class="container">
</div>
</div>
</body>
</html>
